<toolbar class="navwaves" id="navID" layout="row" layout-align="center center">

  <md-button class="md-buttonnav" ui-sref="LookCloser"><div class="navtext">What is Ocean<br>Acidification?</div></md-button>

  <md-button class="md-buttonnav" ui-sref="LookCloser"><div class="navtext">Voices</div></md-button>


  <md-button class="md-buttonnav" ui-sref="LookCloser"><div class="navtext">Look Closer</div></md-button>

    <md-button class="md-buttonnav" ui-sref="OAFacts"><div class="navtext">OA Facts</div></md-button>

<!--<md-button ng-click="main.setVideo(10)">play</md-button>-->


  <div class="round-button ripple"><div class="round-button-circle ripple" ui-sref="act-now"  layout-align="center"><div class="actText"><br>Act<br>Now</div></div></div>

</toolbar>
