

@font-face {
    font-family: 'nexa_rust_extrasfree';
    src: url('nexarustextras-free-webfont.eot');
    src: url('nexarustextras-free-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexarustextras-free-webfont.woff2') format('woff2'),
         url('nexarustextras-free-webfont.woff') format('woff'),
         url('nexarustextras-free-webfont.ttf') format('truetype'),
         url('nexarustextras-free-webfont.svg#nexa_rust_extrasfree') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_rust_handmadeextended';
    src: url('nexarusthandmade-extended-webfont.eot');
    src: url('nexarusthandmade-extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexarusthandmade-extended-webfont.woff2') format('woff2'),
         url('nexarusthandmade-extended-webfont.woff') format('woff'),
         url('nexarusthandmade-extended-webfont.ttf') format('truetype'),
         url('nexarusthandmade-extended-webfont.svg#nexa_rust_handmadeextended') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_rust_sansblack';
    src: url('nexarustsans-black-webfont.eot');
    src: url('nexarustsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexarustsans-black-webfont.woff2') format('woff2'),
         url('nexarustsans-black-webfont.woff') format('woff'),
         url('nexarustsans-black-webfont.ttf') format('truetype'),
         url('nexarustsans-black-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_rust_script_l0regular';
    src: url('nexarustscriptl-0-webfont.eot');
    src: url('nexarustscriptl-0-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexarustscriptl-0-webfont.woff2') format('woff2'),
         url('nexarustscriptl-0-webfont.woff') format('woff'),
         url('nexarustscriptl-0-webfont.ttf') format('truetype'),
         url('nexarustscriptl-0-webfont.svg#nexa_rust_script_l0regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.acme-navbar-text{
  color: green;
}



.md-buttonnav {
  width: 16.7%;
  height: 15.7%;
  background-color: #001d4a;
  border-radius: 10px;
  left: 44px;
  bottom: 11.5%;
  left: 2.3%;
}

.navwaves {
  background-color: rgb(60, 114, 147);
}

.navtext {
  color: #38628d;
  font: 900 50px / 60px NexaRustSans;
}

.round-button {
	width:9%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;

    background: rgb(255, 155, 5);
    box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
	background: rgb(255, 155, 5);
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;

	text-align:center;

    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
    color: #f6f7f8;
    font-family: NexaRustSlab;

}
