<toolbar class="navwaves" id="navID" layout="row" layout-align="center center">


  <md-button class="md-buttonnav" ui-sref="what-is-oa"><div class="navtext">What is Ocean<br>Acidification?</div></md-button>
  <md-button class="md-buttonnav" ui-sref="voices"><div class="navtext">Voices</div></md-button>
    <md-button class="md-buttonnav" ui-sref="look-closer"><div class="navtext">Look Closer</div></md-button>
    <md-button class="md-buttonnav" ui-sref="OAFacts"><div class="navtext">OA Facts</div></md-button>

  <md-button class="round-button" ui-sref="act-now"><div class="round-button-circle"><div class="actText" ><br>Act<br>Right<br>NOW</div></div></md-button>


<!--    <md-button class="md-buttonnav" ui-sref="act-now"><div class="navtext">Act Now</div></md-button>-->


</toolbar>
