
@font-face {
    font-family: 'nexa_rust_slabblack_shadow_01';
    src: url('nexarustslab-blackshadow01-webfont.eot');
    src: url('nexarustslab-blackshadow01-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexarustslab-blackshadow01-webfont.woff2') format('woff2'),
         url('nexarustslab-blackshadow01-webfont.woff') format('woff'),
         url('nexarustslab-blackshadow01-webfont.ttf') format('truetype'),
         url('nexarustslab-blackshadow01-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_rust_sansblack';
    src: url('fonts/nexarustsans-black-webfont.eot');
    src: url('fonts/nexarustsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexarustsans-black-webfont.woff2') format('woff2'),
         url('fonts/nexarustsans-black-webfont.woff') format('woff'),
         url('fonts/nexarustsans-black-webfont.ttf') format('truetype'),
         url('fonts/nexarustsans-black-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

.acme-navbar-text{
  color: green;
}



.md-buttonnav {
  width: 270px;
  height: 100px;
  background-color: #001d4a;
  bottom: 11.5%;
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  border-radius: 10px;
  box-shadow: 0px 3px 5px #000000;
}

.navwaves {
  background-color: rgb(60, 114, 147);
}

.navtext {
  color: white;
  font: 25px nexa_rust_sansblack;
}


.actText {
  color: white;
  font: 30px nexa_rust_slabblack_shadow_01;
//  font: 25px nexa_rust_sansblack;
  text-align: center;
  vertical-align: center;
}

.round-button {
	width:200px;
    padding: 10px;
//   text-align: center;
//    vertical-align: center;
//    display: flex;
//   text-decoration:none;
//  justify-content: center; /* align horizontal */
//  align-items: center; /* align vertical */
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: rgb(255, 155, 5);
   box-shadow: 0px 3px 5px chocolate;
}

.round-button-circle:hover {
	background: rgb(255, 155, 5);
}
.round-button a {
//    display:block;
//	float:left;
//	width:100%;
//	padding-top:50%;
//    padding-bottom:50%;
//	line-height:1em;
//	margin-top:4.5em;
//	text-align:center;
//    font-size:1.2em;
//    font-weight:bold;
//    text-decoration:none;
//    color: #f6f7f8;
//    font-family:  nexa_rust_handmadeextended;
//    font-family: NexaRustSlab;

}


