<div ng-controller="Act-NowCtrl as controller">
  <section>
<form>

		<div id="background">
			<div id="Layer9"><img src="images/Layer9.png"></div>
			<div id="Shape1"><img src="images/Shape1.png"></div>
			<div id="Shape1copy"><img src="images/Shape1copy.png"></div>
			<div id="Shape1copy2"><img src="images/Shape1copy2.png"></div>
			<div id="bg"><input type="text"></div>

			<input placeholder="Email..." ng-model="newEmail">
      <button class="Rounded-Rectangle-3" type="submit" ng-click="addEmail(newEmail);newEmail = null;">send</button>

			<div id="Layer10"><img src="images/Layer10.png"></div>
			<div id="Layer11"><img src="images/Layer11.png"></div>
			<div id="Enteryouremail"><img src="images/Enteryouremail.png"></div>
		</div>



    </form>
  </section>

</div>
