
<div ng-controller="Act-NowCtrl as controller">
    <section>



   <h4>Take Action</h4>
   <form novalidate class="simple-form">
		<div>
			<label>My Email: </label><input type='email' ng-model="t009"/><br>
			<button class="btn btn-success" id="signup-button" type="submit" >Send me action info!</button>
			<em>(Model value: {{t009}})</em>


     </div>
          </form>
    </section>

    <ul id="example-messages" class="example-chat-messages">
  <li ng-repeat="msg in messages">
    <strong class="example-chat-username">{{ msg.from }}</strong>
    {{ msg.body }}
  </li>
</ul>

</div>

