<md-content>
<div class="factslayout">
<div layout="row" layout-align="space-around center">
<div flex="45">
  <br>
<h3 class="md-title">Our Essential Ocean System</h3>
<p class="md-body-1">The ocean is a primary driver of weather and climate, producing clean fresh water and oxygen. Most of the rain that falls on land is absorbed from the tropical ocean, and ocean phytoplankton or microscopic plants are responsible for almost half the oxygen we breath! The pH, or acidity, of the ocean is an essential component in how these complex systems function.</p>
<br>
<h3 class="md-title">Acidification Trend</h3>
<p class="md-body-1">The oceans help stabilize our climate by absorbing carbon dioxide from the atmosphere. While oceanic and atmospheric carbon dioxide also come from natural processes, carbon dioxide emissions from burning fossil fuels (to power our homes and cars) have increased exponentially in the industrial age.</p>

<p class="md-body-1">Globally, oceans have absorbed about a quarter of human carbon dioxide emissions. Carbon dioxide forms carbonic acid when it dissolves in seawater, increasing acidity. This is ocean acidification.</p>

  <md-card>
    <div class="modcard">
<p class="md-body-1 cardstuff"><b>Ocean acidity has increased by 30% due to human emitted carbon dioxide. While ocean acidification events have occurred in Earth’s history, oceans are now acidifying at a rate that is 10-100 times faster than any such shift in the past 50 million years.</b></p></div></md-card>
  </div>
<div flex="45">
  <br>
<h3 class="md-title">Acidification Ecosystem Impacts</h3><ul>
<li><p class="md-body-1">Acidification causes decreased survival, growth rates, and reproduction in crab, oysters and other shellfish.</p></li>
<li><p class="md-body-1">Marine animals, especially calcifiers like shellfish and corals, will have difficulty producing and maintaining shells and skeletons.</p></li>
<li><p class="md-body-1">A vital food source for salmon, whales and birds — the pteropod — is particularly sensitive to acidification.</p></li></ul>
<p class="md-body-1">Shifts that impact one part of the food web create chain reactions from ocean to land. Acidification has the potential to majorly affect the ecology of the ocean and human communities who are tied to it.</p>
<br>
<h3 class="md-title">Ocean Acidification in Alaska</h3>
<p class="md-body-1">Cold water naturally absorbs and holds more carbon dioxide than warmer water. This and other natural phenomena, like a coastline with lots of carbon-rich river run-off, make Alaska particularly sensitive to acidification. Alaskans are increasingly concerned about acidification impacts to marine resources, including a thriving fishing tradition vital for livelihood, sustenance and culture.</p>
 </div>
  </div>
</div>

  <div ng-hide="showvoices">
    <div class="navwavesbutton" layout-align="center center">



            <div class="navwavesbutton" layout-align="center center">
        <md-button class="md-buttonnav" ng-click="main.setVideo(11)">
          <div class="navtext"> {{main.videos[11].sources[0].name}} </div>
        </md-button>
      </div>

            <div class="navwavesbutton" layout-align="center center">
        <md-button class="md-buttonnav" ng-click="main.setVideo(12)">
          <div class="navtext"> {{main.videos[12].sources[0].name}} </div>
        </md-button>
      </div>

      <div class="navwavesbutton" layout-align="center center">
        <md-button class="md-buttonnav" ui-sref="OAFacts">
    <div class="navtext">OA Facts</div>
  </md-button>
</div>


       <div><md-button ng-click="showvoices=true" class="md-buttonnav" ui-sref="voices">
    <div class="navtext">Voices</div>
  </md-button></div>

  <div class="container">
    <div class="round-button">
      <div class="round-button-circle" ui-sref="act-now" layout-align="center">
        <div class="actText">Act Now</div>
      </div>
    </div>
  </div>
    </div>
  </div>


<!--
  <header>
    <acme-navbar/>
  </header>
-->

</md-content>
