<md-content>




<div layout="row" layout-align="space-around center">
<div flex="66">
  <div class="videogular-container">
    <videogular vg-player-ready="main.onPlayerReady($API)" vg-complete="main.onCompleteVideo()" vg-theme="main.config.theme.url">
      <vg-media vg-src="main.config.sources" vg-tracks="main.config.tracks">
      </vg-media>

      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>


        <vg-tracks></vg-tracks>
      </vg-controls>

      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
      <vg-poster vg-url='main.config.plugins.poster'></vg-poster>
    </videogular>
  </div>
  </div>

  <div flex="34">
<md-card>
  <h3> {{main.config.sources[0].name}}</h3>
  <div ng-bind-html="main.config.sources[0].trans"></div>
 </md-card>
  </div>


  </div>


  <div class="playlist">

    <form class="form-inline">
      <input ng-model="query" type="text" placeholder="Filter by" autofocus>
    </form>

{{ main.config.sources[0].tags[0] }}

   {{ main.config.tracks }}
    <ul>

      <div ng-repeat="vid in main.videos | filter:query as results" ng-if="$index < 25">


        <li><a ng-click="main.setVideo($index)">{{vid.sources[0].tags}} {{vid.sources[0].name}}</a>
        </li>

      </div>

      <li ng-if="results.length == 0">
        <strong>No results found...</strong>
      </li>

    </ul>
  </div>


  <md-toolbar class="md-medium-tall">
    <acme-navbar />
  </md-toolbar>
</md-content>
