 body {
    margin: 0;
    padding: 0;
 }

 #background
{
     left: 0px;
     top: 0px;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     width: 1920px;
     height: 1080px;
     overflow: hidden;
     z-index:0;
    }

 #Shape1
{
     left: -174px;
     top: 238px;
     position: absolute;
     width: 2095px;
     height: 839px;
     z-index:1;
}

 #Shape1copy
{
     left: -81px;
     top: 243px;
     position: absolute;
     width: 2096px;
     height: 838px;
     z-index:2;
}

 #Shape1copy2
{
     left: -51px;
     top: 277px;
     position: absolute;
     width: 2266px;
     height: 839px;
     z-index:3;
}

 #OceanAcidificationco
{
     left: 376px;
     top: 463px;
     position: absolute;
     width: 1100px;
     height: 521px;
     z-index:4;
}

 #WHATIS
{
     left: 410px;
     top: 86px;
     position: absolute;
     width: 1097px;
     height: 176px;
     z-index:5;
}

 #Layer6
{
     left: 1476px;
     top: 578px;
     position: absolute;
     width: 378px;
     height: 378px;
     z-index:6;
}

 #layer_7
{
     left: 1575px;
     top: 650px;
     position: absolute;
     width: 184px;
     height: 253px;
     z-index:7;
}

 #PREssMe
{
     left: 1529px;
     top: 993px;
     position: absolute;
     width: 276px;
     height: 40px;
     z-index:8;
}
