/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


@font-face {
    font-family: 'nexa_rust_slabblack_shadow_01';
    src: url('../fonts/nexarustslab-blackshadow01-webfont.eot');
    src: url('../fonts/nexarustslab-blackshadow01-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexarustslab-blackshadow01-webfont.woff2') format('woff2'),
         url('../fonts/nexarustslab-blackshadow01-webfont.woff') format('woff'),
         url('../fonts/nexarustslab-blackshadow01-webfont.ttf') format('truetype'),
         url('../fonts/nexarustslab-blackshadow01-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_rust_sansblack';
    src: url('../fonts/nexarustsans-black-webfont.eot');
    src: url('../fonts/nexarustsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexarustsans-black-webfont.woff2') format('woff2'),
         url('../fonts/nexarustsans-black-webfont.woff') format('woff'),
         url('../fonts/nexarustsans-black-webfont.ttf') format('truetype'),
         url('../fonts/nexarustsans-black-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
}


.md-title {
  color: rgb(60, 114, 147);
  font-size: 24pt;

}

body {
  min-height: 100vh;
  height:100%;
  margin:0;
  padding:0;
  margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.techs {
  display: flex;
  flex-flow: row wrap;
  md-card {
    width: 30%;
    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


.sidetext {
  font-size: 8pt;
}

.videolayout {
  z-index: 1;
  position: fixed;
  bottom: 282px;
}

.container {
  align-items: center;
  z-index: 3
}

.silly {
  padding-bottom: 200px;
}

.bgwaves {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  width:1920px;
  height: 337px;
}

.thevirtualbox {
   height: 800px;
  width:1920px;

}


.factslayout {
}

.md-body-1 {
 font-size: 14pt;
  line-height: 140%;

}

.ActNowPretty {
    display: flex
}

.cardstuff {
  margin: 20px;
}

.modcard {
   background-color: rgba(62, 164, 163, .3);
}

.actheader {
  font-size: 36px;
  color: #001d4a;
  margin-left: 20px
}

.actcardtitle {
  margin-left: 20px
}


.cardbody {
  font-size: 18pt;
  margin-right: 10px
}

.orangebutton {
  background-color: #001d4a;
   border-radius: 10px;
  box-shadow: 0px 3px 5px #000000;
}

.sendtext {
 color: white
}

.videogular-container {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.md-toast.success {
    background-color: rgb(255, 155, 5);
}

.navwavesbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logos {
  width: 100%;
  justify-content: space-around;
}

.actionSubmitButton {

}

.md-buttonSend {
  width: 30%;
  height: 70px;
  z-index: 3;
  background-color: rgba(62, 164, 163, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #000000;
}

.md-icon {
  color: aquamarine;
}

.emaillistheader {
  font-size: 20px;
  color: #001d4a;
  margin-left: 20px
}

.textsend {
   color: rgb(60, 114, 147);
  font-size: 18pt;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.ontopofvid {
  z-index: 9
}
