<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">

  <md-button href="https://google.com">Buttons that link</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="#" class="md-raised">Buttons that ripple</md-button>
    <md-button href="#" class="md-raised"></md-button>
    <md-button href="#" class="md-raised">What is OA?</md-button>


      <a ui-sref=".what-is-oa" class="btn btn-primary">OA</a>


  </section>

  <md-button href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button>

</md-toolbar>




<div ui-view></div>
