

  <div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creationDate="main.creationDate" />
    </header>


  <form>
			<div id="bg"><input type="text"></div>
			<input placeholder="First Name..." ng-model="newFirstName">
			<input placeholder="Last Name..." ng-model="newLastName">

			<input placeholder="Email..." ng-model="newEmail">
      <button class="actionSubmitButton" type="submit" ng-click="addEmail(newEmail, newFirstName, newLastName);newEmail = null; newFirstName = null;newLastName = null">send</button>

    </form>

  </md-content>

</div>
