<md-content>
  <div>
    <div layout="row" class="ActNowPretty" layout-align="space-around center">
      <div flex="60">
        <div class="actheader">
          <h3>
Join our mailing list to learn how you can help.
    </h3>
        </div>
        <form name="userForm">
          <md-input-container>
            <input focus placeholder="First Name..." ng-model="newFirstName">
            <br>
          </md-input-container>
          <md-input-container>
            <input placeholder="Last Name..." ng-model="newLastName">
            <br>
          </md-input-container>
          <md-input-container>
            <input placeholder="City, State..." ng-model="newPlace">
            <br>
          </md-input-container>
          <md-input-container>
            <input type="email" required placeholder="Email..." ng-model="newEmail">
            <br>
          </md-input-container>
          <h3>
          <div class="emaillistheader">Send me more information about:</div></h3>
          <div layout="column" class="logos">
            <div layout="row">


              <div>
                <md-input-container>
                  <md-checkbox ng-model="newOAList" aria-label="on OA info list">Ocean Acidification</md-checkbox>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                  <md-checkbox ng-model="newCoalList" aria-label="on Coal list">Coal mining in Alaska</md-checkbox>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                  <md-checkbox ng-model="newLegList" aria-label="on Legislationlist">Current legislation</md-checkbox>
                </md-input-container>
              </div>
            </div>

            <div>
              <md-input-container>
                <md-button class="md-buttonSend" type="submit" ng-click="addEmail(newEmail, newFirstName, newLastName, newPlace, newOAList, newCoalList, newLegList);newEmail = null; newFirstName = null;newLastName = null; newPlace = null; newOAList = true; newCoalList = false; newLegList = false">
                  <h3> <div class="textsend">Send</div></h3>
                </md-button>
              </md-input-container>
            </div>

          </div>

        </form>
      </div>

      <div flex="30">
        <div layout="row" class="logos">
          <div><img src="assets/images/logo.png" class="logoOnNav">
          </div>
          <div><img src="assets/images/cookinletkeeperlogo.png" class="logoOnNav">
          </div>
        </div>
        <md-card>
          <div class="modcard">
            <p class="cardstuff">
              <h3 class="md-title actcardtitle">What Else Can I Do?</h3>
              <div class="cardbody">
                <p class="md-body-1">
                  <ul>
                    <li>Tell a friend or family member about acidification and why you care about our ocean.</li>
                    <br>
                    <li>Tell your local legislator.</li>
                    <br>
                    <li>Help expand the public transportation system in your community.</li>
                    <br>
                    <li>Explore wind energy and other alternative energy options.</li>
                    <br>
                    <li>Join a citizen science program.</li>
                  </ul>
                </p>
              </div>
            </p>
          </div>
        </md-card>
      </div>
    </div>
  </div>
  <header>
    <acme-navbar/>
  </header>
</md-content>
