 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer7 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1920px;
	 height: 1080px;
	 z-index:1;
} 

 #Shape1 
{ 
	 left: -174px; 
	 top: 238px; 
	 position: absolute; 
	 width: 2095px;
	 height: 839px;
	 z-index:2;
} 

 #Shape1copy 
{ 
	 left: -81px; 
	 top: 243px; 
	 position: absolute; 
	 width: 2096px;
	 height: 838px;
	 z-index:3;
} 

 #Shape1copy2 
{ 
	 left: -51px; 
	 top: 277px; 
	 position: absolute; 
	 width: 2266px;
	 height: 839px;
	 z-index:4;
} 

 #Ocean 
{ 
	 left: 689px; 
	 top: 462px; 
	 position: absolute; 
	 width: 574px;
	 height: 186px;
	 z-index:5;
} 

 #Acidification 
{ 
	 left: 440px; 
	 top: 723px; 
	 position: absolute; 
	 width: 1043px;
	 height: 229px;
	 z-index:6;
} 

 #WHATIS 
{ 
	 left: 410px; 
	 top: 86px; 
	 position: absolute; 
	 width: 1097px;
	 height: 176px;
	 z-index:7;
} 

 #Layer6 
{ 
	 left: 1501px; 
	 top: 603px; 
	 position: absolute; 
	 width: 333px;
	 height: 333px;
	 z-index:8;
} 

 #layer_9 
{ 
	 left: 1591px; 
	 top: 670px; 
	 position: absolute; 
	 width: 153px;
	 height: 211px;
	 z-index:9;
} 

 #PREssMe 
{ 
	 left: 1529px; 
	 top: 993px; 
	 position: absolute; 
	 width: 276px;
	 height: 40px;
	 z-index:10;
} 
